<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="qv_set_license.ServiceKeySupport.ServiceKeyBehaviorExtensionElement, qv-set-license, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS3">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS4">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService3">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService4">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
        <client>
            <endpoint address="http://selun-sbn1:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPI4.IQMS1"
                name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://selun-sbn1:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS1" contract="QMSAPI4.IQMS"
                name="BasicHttpBinding_IQMS1" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://selun-sbn1:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS2" contract="QMSAPI4.IQMS2"
                name="BasicHttpBinding_IQMS2" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://selun-sbn1:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS3" contract="QMSAPI4.IQMS3"
                name="BasicHttpBinding_IQMS3" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://selun-sbn1:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS4" contract="QMSAPI4.IQMS4"
                name="BasicHttpBinding_IQMS4" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://selun-sbn1:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPI4.IQTService"
                name="BasicHttpBinding_IQTService" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://selun-sbn1:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService1" contract="QMSAPI4.IQTService1"
                name="BasicHttpBinding_IQTService1" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://selun-sbn1:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService2" contract="QMSAPI4.IQTService2"
                name="BasicHttpBinding_IQTService2" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://selun-sbn1:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService3" contract="QMSAPI4.IQTService3"
                name="BasicHttpBinding_IQTService3" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://selun-sbn1:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService4" contract="QMSAPI4.IQTService4"
                name="BasicHttpBinding_IQTService4" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
        </client>
    </system.serviceModel>
</configuration>